.btn-content{
    background: none;
    border: none;
}

.btn, .btn >*{
    outline: none;
    cursor: pointer;
    border: 0px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0);
    color: black;
}
.actionButtons .btn{
    margin-bottom: 30px;
}

.btn-danger{
    color: rgb(173, 24, 24);
}

.btn-primary{
    color: rgba(21, 21, 187, 0.432);
}